@media screen and (min-width: 820px){
    /* HEADER */
    header div#botao {
        display: none;
    } 

    header {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        
        background-color: white;
        color: black;
    }

    #logo a{
        color: black;
        text-shadow: none;
        margin-left: 25px;
        transition: .2s;
    }
    
    #logo a:hover {
        color: #00b9e7;
        box-shadow: none;
    }

    nav {
        position: relative;
        top: auto;
        height: auto;
        width: auto;
        background-color: transparent;
        z-index: 2;
        left: auto;
        transition: none;
        margin-right: 50px;
    }
    
    nav ul {
        list-style: none;
        text-align: left;
        height: auto;
        display: flex;
        flex-direction: row;
    }
    
    nav li {
        height: auto;
    }
    
    nav a {
        display: block;
        position: relative;
        height: auto;
        padding: 10px;
        font-size: 1.2em;
        text-shadow: none;
        margin-right: 20px;
        text-decoration: none;
        color: black;
    }

    nav a::after {
        content: "";
        background-color: #00b9e7;
        width: 0%;
        height: 3px;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transition: 0.2s;
        border-radius: 10px;
    }

    nav a:hover {
        background: none;
        color: #008db1;
        box-shadow: none;
    }

    nav a:hover::after {
        width: 100%;
        left: 0;
    }

    /* Home */

    #home {
        flex-direction: row;
        height: 52vh;
        margin-top: 200px;
    }

    #home p {
        font-size: 2.4em;
        transform: translateY(-100px);
    }

    #img-home {
        height: 65vh;
        width: auto;
        transform: translateY(0px);
    }

    /* Sobre mim */

    #sobre {
        flex-direction: row;
        justify-content: space-around;

        padding-top: 10vh;
    }

    #sobre aside {
        max-width: 650px;
        font-size: 1.7em;
    }

    #sobre h2 {
        font-size: 1.4em;
    }

    /* Habilidades */

    #habilidades div#container {
        flex-direction: row;
        max-width: 50vw;
    }

    #habilidades div.item {
        border-bottom: 0px;
        border-left: 1px solid rgba(128, 128, 128, 0.514);
        width: 100vw;
    }
    
    /* Projetos */

    #projetos div.item {
      width: 380px;
      height: 230px;
    }

}