@media screen and (min-width: 820px){
    /* HEADER */
    header div#botao {
        display: none;
    } 

    header {
        flex-wrap: nowrap;
        overflow: visible;
        align-items: center;
        background-color: white;
        color: black;
    }

    header h1 {
        text-shadow: none;
    }

    nav a {
        color: black;
    }

    nav {
        width: auto;
        margin-right: 5vw;
    }

    ul {
        display: flex;
    }

    header li {
        margin-right: 8px;
        border: 0px;
        border-radius: 20px;
        transition: .2s;
    }

    /* Home */

    article#home {
        flex-direction: row;
        height: 52vh;
        margin-top: 200px;
    }

    #home p {
        font-size: 2.4em;
        transform: translateY(-100px);
    }

    #img-home {
        height: 65vh;
        width: auto;
    }

    /* Sobre mim */

    article#sobre {
        flex-direction: row;
        justify-content: space-around;

        padding-top: 24vh;
        
    }

    #sobre aside {
        max-width: 650px;
        font-size: 1.7em;
    }

    #sobre h2 {
        font-size: 1.4em;
    }

    /* Habilidades */
    
    /* Projetos */

}