@media screen and (min-width: 820px){
    /* HEADER */
    header div#botao {
        display: none;
    } 

    header {
        flex-wrap: nowrap;
        overflow: visible;
        align-items: center;
        height: 60px;
        background-color: white;
        color: black;
    }

    header h1 {
        text-shadow: none;
    }

    nav a {
        color: black;
    }

    nav {
        width: auto;
        margin-right: 5vw;
    }

    ul {
        display: flex;
    }

    header li {
        margin-right: 8px;
        border: 0px;
        border-radius: 20px;
        transition: .2s;
    }

    /* Home */

    article#home {
        flex-direction: row;
        height: 95vh;
    }

    #home p {
        font-size: 2.4em;
    }

    #img-home {
        height: 70vh;
        width: auto;
    }

    /* Sobre mim */

    article#sobre {
        height: 100vh;
        flex-direction: row;
        justify-content: space-around;
    }

    #sobre aside {
        max-width: 650px;
        font-size: 1.7em;
        padding: 20px;
    }

    /* Habilidades */
    
    /* Projetos */

}