@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: white;
    background-color: #181818;
}

/* HEADER */

header {
    display: flex;
    background-color: #002129;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 53px;
    transition: height .5s;
    overflow: hidden;
}

header h1 {
    padding: 8px 0px 8px 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
}

ul {
    list-style: none;
    text-align: center;
}

header li {
    padding: 10px;
    border: 1px solid #003441;
}

header li:hover {
    background-color: #003441;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
}

div#botao {
    margin-right: 25px;
    height: 20px;
    width: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 15px;
}

div#barra1, div#barra2, div#barra3 {
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}

div#barra1 {
    position: absolute;
    top: 0%;
}

div#barra2 {
    transform: translatey(10px);
    margin: auto;
}

div#barra3 {
    position: absolute;
    top: 100%;
}

/* ANIMAÇÃO - BOTÃO DO MENU */

@keyframes br1 {
    0% {
        top: 0%;
        rotate: 0deg;
    }

    50% {
        top: 50%;
        rotate: 0deg;
    }

    100% {
        top: 50%;
        rotate: 135deg;
    }
}

@keyframes br1v {
    0% {
        top: 50%;
        rotate: 135deg;
    }
    50% {
        top: 50%;
        rotate: 0deg;
    }
    100% {
        top: 0%;
        rotate: 0deg;
    }
}

@keyframes br2 {
    50% {
        opacity: 0;
        width: 10px;
        height: 2px;
    }

    100% {
        opacity: 0;
    }
}

@keyframes br2v {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        width: 10px;
        height: 2px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes br3 {
    0%{
        top: 100%;
        rotate: 0deg;
    }

    50% {
        top: 50%;
        rotate: 0deg;
    }

    100% {
        top: 50%;
        rotate: 45deg;
    }
}

@keyframes br3v {
    0% {
        top: 50%;
        rotate: 45deg;
    }
    50% {
        top: 50%;
        rotate: 0deg;
    }
    100% {
        top: 100%;
        rotate: 0deg;
    }
}

/* Home */

article#home {
    height: 580px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#home p {
    font-size: 1.5em;
    padding-top: 60px;
    margin: auto;
}

#home strong {
    font-size: 1.3em;
    color: #00A5CF;
}

#img-home {  
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
}

/* Sobre mim */

article#sobre {
    height: 580px;
    color: black;
    background-color: #F4F3EE;
    padding-top: 40px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-sobre {
    height: 45vh;
    width: auto;
    border-radius: 50%;
    border: 4px solid #002129;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.493);
}

#sobre aside {
    background-color: rgba(0, 0, 0, 0.384);
    margin: 40px 15px 0px 15px;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    text-align: justify;
    max-width: 600px;
}

#sobre h2 {
    font-size: 2em;
    color: #00ccff;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #00000071;
}

/* Habilidades */

/* Projetos */

/* Roda pé */

footer {
    margin-top: 40px;
}