@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Quicksand:wght@500;700&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

:root {
    --fontTitulo: 'PT Sans Caption', sans-serif;
    --fontTexto: 'Quicksand', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--fontTexto);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    overflow-x: hidden;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 1rem;
    background-color: #00A5CF;
}

header a {
    text-decoration: none;
    color: white;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
}

/* Menu */

#menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #00A5CF;
    height: 0;
    transition: .7s;
    visibility: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid #0090b4;

    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    z-index: 2;
}

#menu a {
    display: block;
    padding: 1rem 0.5rem;
    margin: 0 1rem;
    font-size: 1.1em;
    border-bottom: 1px solid #0090b4;
}

#menu a:hover {
    background-color: #0090b4;
}

#nav.ativo #menu {
    height: calc(100vh - 60px);
    visibility: visible;
    overflow-y: auto;
}

/* Botão-Menu */

#btn-mobile {
    cursor: pointer;
    padding: .5rem;
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    display: flex;
    gap: 10px;
}

#hamburger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
}

.linha {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transform: translateY(-50%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
    left: 0;
}
.linha1 {top: 0;}
.linha2 {top: 50%;}
.linha3 {top: 100%;}

.btn-animation .linha1 {
    /* animation: linha-1 .6s normal forwards; */
}

.btn-volta .linha1 {
    animation: l1-volta .6s reverse forwards;
}

/* Animação do Botão */

@keyframes linha-1 {
    50% {top: 50%; transform: rotate(0deg);}
    100% {top: 50%; transform: rotate(45deg);}
}
@keyframes linha-2 {
    50% {left: 13px; height: 1; width: 20%; opacity: 0;}
    100% {left: 13px; height: 0; width: 20%; opacity: 0;}
}
@keyframes linha-3 {
    50% {top: 50%; transform: rotate(0deg);}
    100% {top: 50%; transform: rotate(135deg);}
}

@keyframes l1-volta {
    50% {top: 50%; transform: rotate(0deg);}
    100% {top: 0;}
}
@keyframes l2-volta {
    50% {opacity: 0; width: 20%; height: 0; left: 13px;}
    100% {opacity: 1; width: 100%; height: 3px; left: 0;}
}
@keyframes l3-volta {
    50% {top: 50%; transform: rotate(0deg);}
    100% {top: 100%;}
}
/* Home */

#home {
    font-family: var(--fontTitulo);
    height: 410px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#home p {
    font-size: 1.7em;
    padding-top: 60px;
    margin: auto;
}

#home strong {
    font-size: 1.3em;
    color: #00A5CF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
}

#img-home {  
    display: block;
    margin: auto;
    height: 300px;
    width: auto;

    transform: translateY(50px);
}

/* Sobre mim */

#sobre {
    background-color: #00A5CF;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre aside {
    font-size: 1.3em;
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    max-width: 600px;
    text-align: center;
}

#sobre h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
}

/* Habilidades */

#habilidades {
    display: flex;
    justify-content: center;
}

#habilidades div#container {
    max-width: 300px;
    margin: 90px 20px 0px 20px;

    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#habilidades div.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    text-align: center;
}

#habilidades span {
    font-size: 2.8em;
    background-color: #0BDB92;
    border-radius: 50%;
    padding: 7px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}

#habilidades p {
    padding: 0px 10px 20px 10px;
    font-size: 1.2em;
}

/* Projetos */

#projetos h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 90px 0px 70px 0px;
}

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#projetos div#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#projetos div.item {
    height: 160px;
    width: 280px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}

#projetos .link-div {
    background-color: rgba(0, 0, 0, 0.658);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

    transition: 0.5s;
}

#projetos .link-div:hover {
    opacity: 1;
}

#projetos .link-div a {
    border: 2px solid #0BDB92;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    color: white;
    transition: 0.2s;
}

#projetos .link-div a:hover {
    background-color: #0BDB92;
}

#projetos p {
    text-align: center;
    position: relative;
    color: white;
    padding: 10px;
}

#projetos div#pg-login {
    background-image: url(../imgs/pg-login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#projetos div#pg-cordel {
    background-image: url(../imgs/pg-cordel.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#projetos div#pg-android {
    background-image: url(../imgs/pg-android.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Roda pé */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #003542;
    margin-top: 40px;
    color: white;
    padding: 80px 0px 80px 0px;
}

footer h2 {
    font-size: 2em;
    text-align: center;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    transition: .2s;
}

footer a:hover {
    color: #00A5CF;
}

div#redes-sociais {
    margin: 50px;
}

div#redes-sociais i {
    font-size: 2em;
    color: white;
    transition: .2s;
}

div#redes-sociais a {
    text-decoration: none;
    margin-left: 20px;
}

div#redes-sociais a:hover i {
    color: #00A5CF;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.253);
}