@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Quicksand:wght@500;700&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

:root {
    --fontTitulo: 'PT Sans Caption', sans-serif;
    --fontTexto: 'Quicksand', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fontTexto);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    overflow-x: hidden;
}

/* HEADER */

header {
    position: relative;
    top: 0;
    display: flex;
    background-color: #00A5CF;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: white;
    width: 100%;
    z-index: 2;
}

.topo-preso {
    position: fixed;
}

#logo a {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.479);
    transition: .2s;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: white;
    position: relative;
}

#logo a:hover {
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.308);
}

nav {
    position: fixed;
    top: 60px;
    height: max-content;
    width: 100%;
    background-color: #008caf;
    z-index: 2;
    left: 100%;
    transition: .5s;
}

nav ul {
    list-style: none;
    text-align: right;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

nav li {
    height: 100%;
}

nav a {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-right: 50px;
    font-size: 1.4em;

    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #00A5CF;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.397);
}

div#botao {
    margin-right: 25px;
    height: 20px;
    width: 30px;
    position: relative;
    cursor: pointer;
}

.menu-aberto {
    left: 0%;
}

.botao-fechado #barra1 {animation: br1v .5s normal forwards;}
.botao-aberto #barra1 {animation: br1 .5s normal forwards;}

.botao-fechado #barra2 {animation: br2v .5s normal forwards;}
.botao-aberto #barra2 {animation: br2 .5s normal forwards;}

.botao-fechado #barra3 {animation: br3v .5s normal forwards;}
.botao-aberto #barra3 {animation: br3 .5s normal forwards;}

div#barra1, div#barra2, div#barra3 {
    height: 3px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.507);
}

div#barra1 {
    position: absolute;
    top: 0%;
}

div#barra2 {
    transform: translatey(10px);
    margin: auto;
}

div#barra3 {
    position: absolute;
    top: 100%;
}

/* ANIMAÇÃO - BOTÃO DO MENU */

@keyframes br1 {
    0% {
        top: 0%;
        rotate: 0deg;
    }

    50% {
        top: 50%;
        rotate: 0deg;
    }

    100% {
        top: 50%;
        rotate: 135deg;
    }
}

@keyframes br1v {
    0% {
        top: 50%;
        rotate: 135deg;
    }
    50% {
        top: 50%;
        rotate: 0deg;
    }
    100% {
        top: 0%;
        rotate: 0deg;
    }
}

@keyframes br2 {
    50% {
        opacity: 0;
        width: 10px;
        height: 2px;
    }

    100% {
        opacity: 0;
    }
}

@keyframes br2v {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        width: 10px;
        height: 2px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes br3 {
    0%{
        top: 100%;
        rotate: 0deg;
    }

    50% {
        top: 50%;
        rotate: 0deg;
    }

    100% {
        top: 50%;
        rotate: 45deg;
    }
}

@keyframes br3v {
    0% {
        top: 50%;
        rotate: 45deg;
    }
    50% {
        top: 50%;
        rotate: 0deg;
    }
    100% {
        top: 100%;
        rotate: 0deg;
    }
}

/* Home */

#home {
    font-family: var(--fontTitulo);
    height: 410px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#home p {
    font-size: 1.7em;
    padding-top: 60px;
    margin: auto;
}

#home strong {
    font-size: 1.3em;
    color: #00A5CF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
}

#img-home {  
    display: block;
    margin: auto;
    height: 300px;
    width: auto;

    transform: translateY(50px);
}

/* Sobre mim */

#sobre {
    background-color: #00A5CF;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre aside {
    font-size: 1.3em;
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    max-width: 600px;
    text-align: center;
}

#sobre h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
}

/* Habilidades */

#habilidades {
    display: flex;
    justify-content: center;
}

#habilidades div#container {
    max-width: 300px;
    margin: 90px 20px 0px 20px;

    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#habilidades div.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    text-align: center;
}

#habilidades span {
    font-size: 2.8em;
    background-color: #0BDB92;
    border-radius: 50%;
    padding: 7px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}

#habilidades p {
    padding: 0px 10px 20px 10px;
    font-size: 1.2em;
}

/* Projetos */

#projetos h2 {
    text-align: center;
    font-size: 1.8em;
    margin: 90px 0px 70px 0px;
}

#projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#projetos div#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#projetos div.item {
    height: 160px;
    width: 280px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
}

#projetos .link-div {
    background-color: rgba(0, 0, 0, 0.658);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

    transition: 0.5s;
}

#projetos .link-div:hover {
    opacity: 1;
}

#projetos .link-div a {
    border: 2px solid #0BDB92;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    color: white;
    transition: 0.2s;
}

#projetos .link-div a:hover {
    background-color: #0BDB92;
}

#projetos p {
    text-align: center;
    position: relative;
    color: white;
    padding: 10px;
}

#projetos div#pg-login {
    background-image: url(../imgs/pg-login.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#projetos div#pg-cordel {
    background-image: url(../imgs/pg-cordel.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#projetos div#pg-android {
    background-image: url(../imgs/pg-android.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Roda pé */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #003542;
    margin-top: 40px;
    color: white;
    padding: 80px 0px 80px 0px;
}

footer h2 {
    font-size: 2em;
    text-align: center;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    transition: .2s;
}

footer a:hover {
    color: #00A5CF;
}

div#redes-sociais {
    margin: 50px;
}

div#redes-sociais i {
    font-size: 2em;
    color: white;
    transition: .2s;
}

div#redes-sociais a {
    text-decoration: none;
    margin-left: 20px;
}

div#redes-sociais a:hover i {
    color: #00A5CF;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.253);
}